@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

#msg-box18-3 P {
  font-size: 46px;
}
#msg-box18-8 P {
  font-size: 46px;
}
#msg-box18-a P {
  font-size: 46px;
}
#msg-box11-c P {
  text-align: center;
}
#msg-box11-c H1 {
  font-family: 'Montserrat', sans-serif;
  color: #336a86;
  text-align: center;
}
#msg-box11-e P {
  text-align: center;
}
#msg-box11-e H4 {
  font-size: 20px;
  text-align: center;
}
